
DB_HOST=localhost
DB_NOMBRE=burguersoft
DB_USUARIO=root
DB_PASSWORD=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USUARIO=burguersoft@gmail.com
SMTP_PASSWORD=zxvh jfaq dylw ndzq
SMTP_REMITENTE=BURGUERSOFT - El Oriente

APP_ENV=local